/* Map Display */
#location {
    height: 300px;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}